.b_article_detail {
  width: 100%;
  height: calc(100% - 116px);
  background: #F5F5F5;
  position: fixed;
  overflow: auto;
  .detail_box {
    width: 80%;
    // height: 100%;
    // overflow: auto;
    margin: 10px auto;
    display: flex;
    .article {
      width: 70%;
      height: calc(100% - 20px);
      // margin-left: 50px;
      background: #E8E8E8;
      border-radius: 5px;
      padding: 10px 20px;
      .title {
        font-size: 28px;
        color: #555555;
        margin: 10px 0 20px;
      }
      .introduce {
        display: flex;
        height: 50px;
        color: #969696;
        margin-bottom: 10px;
        cursor: pointer;
        .icon {
          img {
            height: 48px;
            width: 48px;
            border-radius: 48px;
            margin: 0 15px;
          }
        }
        .info {
          .name {
            line-height: 25px;
          }
          .write_info {
            line-height: 25px;
            // overflow: hidden;
            span {
              margin-right: 20px;
            }
          }
        }
      }
      .content {
        margin-top: 15px;
      }
      .md {
        width: 100%;
      }
    }
    .recommend {
      margin-left: 20px;
      flex: 1;
      height: 100%;
      background: #E8E8E8;
      border-radius: 5px;
      .author {
        display: flex;
        padding: 20px 10px;
        position: relative;
        border-bottom: 1px solid #ccc;
        .image {
          img {
            width: 48px;
            height: 48px;
            border-radius: 48px;
          }
        }
        .info {
          color: #969696;
          margin-left: 10px;
          .username {
            font-size: 16px;
            line-height: 26px;
          }
          .articleInfo {
            font-size: 14px;
            line-height: 26px;
            & > span:nth-child(2) {
              margin-left: 15px;
            }
          }
        }
        .button {
          position: absolute;
          right: 10px;
        }
      }
      .other_article {
        .title {
          height: 40px;
          display: flex;
          align-items: center;
          padding: 10px;
          position: relative;
          .split_line {
            height: 30px;
            line-height: 40px;
            width: 5px;
            border: 2px;
            background: #409EFF;
          }
          & > span:nth-child(2) {
            margin-left: 20px;
            color: #555;
            font-weight: bold;
          }
          span {
            display: inline-block;
          }
        }
        .body {
          padding-left: 10px;
          border-bottom: 1px solid #ccc;
          .each_article {
            margin-bottom: 15px;
            .other_title {
              margin-bottom: 5px;
              cursor: pointer;
              a {
                color: #24292e;
                text-decoration: none;
              }
              a:hover {
                text-decoration: underline;
                color: #555;
              }
            }
            // .other_title:hover {
            //   text-decoration: underline;
            //   color: #555;
            // }
            .read {
              font-size: 14px;
              color: #969696;
              & > span:nth-child(1) {
                margin-right: 5px;
              }
            }
          }

        }
      }
      .recommend_read {

      }
    }
  }
  .comment_box {
    width: 100%;
    height: 56px;
    background: #dddddd;
    position: fixed;
    bottom: 0;
    z-index: 10000;
    line-height: 56px;
    // align-items: center;
    transition: .2s all;
    .comment {
      width: 80%;
      margin: 0 auto;
      display: flex;
      div {
        margin-right: 24px;
        span {
          color: #969696;
        }
      }
      .comment_input {
        width: 400px;
        transition: .2s all;
        textarea {
          resize: none;
          border: none;
        }
        textarea:focus {
          resize: none;
          border: none;
        }
      }
      .comment_input_focus {
        width: 560px;
        border: none;
      }
    }
    .el-input__inner {
      border-radius: 50px;
    }
    .el-input__inner:focus {
      transition: .2s all;
      border-radius: 4px;
      height: 56px;
    }
  }
  .comment_box_focus {
    padding: 10px 0;
  }
}
