.b_my {
  width: 100%;
  margin: auto;
  height: calc(100% - 70px);
  position: fixed;
  background: #F5F5F5;
  .b_my_body {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    .b_left {
      width: 30%;
      background: #EEE9E9;
      margin: 10px 0;
      border-radius: 5px;
      padding: 10px;
      .header {
        .username {
          font-size: 22px;

        }
        .user_avatar {
          text-align: center;
          width: 60px;
          height: 60px;
          border: 1px solid #ccc;
          border-radius: 50px;
          margin: auto;
            img {
              // width: 80px;
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          // }
          .avatar-uploader .el-upload {
            // border: 1px dashed #d9d9d9;
            border-radius: 60px;;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
          }
          .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
          }
          .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 60px;
            height: 60px;
            line-height: 60px;
            border-radius: 60px;
            text-align: center;
          }
          .avatar {
            width: 60px;
            height: 60px;
            display: block;
          }
        }
        .authorInfo {
          display: flex;
          justify-content: space-between;
          padding: 5px 10px;
          .info_box {
            border-right: 1px solid #f0f0f0;
            & > div:nth-child(1) {
              text-align: center;
            }
            & > div:nth-child(2) {
              color: #969696;
            }& > :nth-child(1), :nth-child(2) {
              cursor: pointer;
            }
          }
          div {
            // border: 1px solid #f0f0f0;
          }
        }
      }
      .body {
        position: relative;
        height: calc(100% - 180px);
        margin-top: 10px;
        .bg_bar {
          position: absolute;
          background: #409eff;
        }
        .row {
          width: 20px;
          height: 3px;
        }
        .column {
          width: 3px;
          height: 40px;
        }
        .top {
          top: 0;
          left: 0;
        }
        .right {
          right: 0;
          bottom: 0;
        }
        .bottom {
          right: 0;
          bottom: 0;
        }
        .left {
          position: absolute;
          left: 0;
          top: 0;
        }
        .condition_box {
          height: calc(100% - 70px);
          padding: 5px;
          .category_list {
            display: flex;
            .category {
              width: calc(100% / 2);
              height: 35px;
              display: flex;
              align-items: center;
              justify-content: center;
              background: #FFFFF0;
              transition: .2s all; 
              cursor: pointer;
              img {
                width: 20px;
                margin-right: 10px;
              }
            }
            .category_active {
              background: #CDC8B1;
              color: #fff;
            }
            .category:hover {
              background: #CDC8B1;
              color: #fff;
            }
          }
          .category_body {
            height: calc(100% - 50px);
            // display: flex;
            padding: 10px;
            border: 1px solid #ccc;
            margin-top: 10px;
            .body_left {
              // width: 40%;
              height: 100%;
              overflow: auto;
              .el-collapse-item {
                .el-collapse-item__header {
                  background: none;
                  font-size: 16px;
                  padding-left: 15px;
                }
                .el-collapse-item__wrap {
                  background: none;
                }
                .el-collapse-item__content {
                  padding-bottom: 0;
                  .detail {
                    // height: 100px;
                    max-height: 200px;
                    transition: max-height .5s;
                    p {
                      margin: 0;
                      padding: 6px 0 6px 20px;
                      word-wrap: break-word;
                      word-break: normal;
                      font-size: 14px;
                    }
                    p:hover{
                      color: #555;
                      background: #F5F5F5;
                      border-radius: 5px;
                      color: #666;
                      cursor: pointer;
                    }
                    .active {
                      background: #F5F5F5;
                      border-radius: 5px;
                      color: #666;
                    }
                  }
                }
                .el-collapse-item__header:hover {
                  box-shadow: 0px 0px 5px 2px rgba(0,0,0,.1);
                }
              }
              .category_each {
                cursor: pointer;
                .title {
                  padding-left: 10%;
                  height: 40px;
                  line-height: 40px;
                  color: #888;
                  & > span:nth-child(2) {
                    margin-left: 3px;
                  }
                }
                .title:hover {
                  color: #666;                        
                }
              }
            }
            .body_right {
              width: 60%;
              height: 100%;
            }
          }
        }
        .motto {
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          color: #999;
          .split {
            width: 5px;
            height: 5px;
            border-radius: 5px;
            background: #409eff;
            margin: 0 30px;
          }
        }
      }
      .footer {
        text-align: center;
        a {
          img {
            width: 40px;
            border-radius: 40px;
            transition: 0.4 all;
          }
          img:hover {
            transform: scale(1.1);
          }
        }
      }
    }
    .b_right {
      flex: 1;
      background: #E8E8E8;
      margin: 10px 0;
      border-radius: 5px;
      margin-left: 20px;
      // overflow: auto;
      .mavonEditor {
        height: calc(100% - 70px);
      }
      .mavonEditor_edit {
        height: 100%
      }
      .articleInfo {
        height: 50px;
        margin: 10px 0;
        line-height: 50px;
        .write_info {
          height: 100%;
          padding-left: 30px;
          color: #969696;
          display: flex;
          .time {
            div {
              font-size: 14px;
              height: 25px;
              line-height: 25px;
            }
          }
          div {
            margin-right: 15px;
          }
        }
      }
    }
    .edit_Container {
      position: absolute;
      right: calc(10% - 50px);
      top: 10px;
      div {
        margin-bottom: 20px;
      }
    }
  }
}