// @import ''
.b_my {
  width: 100%;
  margin: auto;
  height: calc(100% - 70px);
  position: fixed;
  background: #F5F5F5;
  .b_my_body {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    .b_left {
      width: 30%;
      background: #EEE9E9;
      margin: 10px 0;
      border-radius: 5px;
      padding: 10px;
      .header {
        .username {
          // text-align: center;
          font-size: 22px;
        }
        .user_avatar {
          width: 80px;
          height: 80px;
          border: 1px solid #ccc;
          border-radius: 50px;
          margin: auto;
          img {
            // width: 80px;
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }
      .body {
        position: relative;
        height: calc(100% - 180px);
        margin-top: 10px;
        .bg_bar {
          position: absolute;
          background: #409eff;
        }
        .row {
          width: 20px;
          height: 3px;
        }
        .column {
          width: 3px;
          height: 40px;
        }
        .top {
          top: 0;
          left: 0;
        }
        .right {
          right: 0;
          bottom: 0;
        }
        .bottom {
          right: 0;
          bottom: 0;
        }
        .left {
          position: absolute;
          left: 0;
          top: 0;
        }
        .condition_box {
          height: calc(100% - 70px);
          padding: 5px;
          .category_list {
            display: flex;
            .category {
              width: calc(100% / 2);
              height: 35px;
              display: flex;
              align-items: center;
              justify-content: center;
              background: #FFFFF0;
              transition: .2s all; 
              cursor: pointer;
              img {
                width: 20px;
                margin-right: 10px;
              }
            }
            .category_active {
              background: #CDC8B1;
              color: #fff;
            }
            .category:hover {
              background: #CDC8B1;
              color: #fff;
            }
          }
          .category_body {
            height: calc(100% - 50px);
            // display: flex;
            padding: 10px;
            border: 1px solid #ccc;
            margin-top: 10px;
            .body_left {
              // width: 40%;
              height: 100%;
              overflow: auto;
              .category_each {
                cursor: pointer;
                .title {
                  padding-left: 10%;
                  height: 40px;
                  line-height: 40px;
                  color: #888;
                  & > span:nth-child(2) {
                    margin-left: 3px;
                  }
                }
                .detail {
                  // height: 100px;
                  max-height: 200px;
                  transition: max-height .5s;
                  p {
                    padding-left: 10%;
                    margin: 8px 0;
                  }
                  p:hover{
                    color: #555;
                    // text-decoration: underline;
                    background: #F5F5F5;
                    border-radius: 5px;
                    color: #666;
                  }
                }
                .active {
                  background: #F5F5F5;
                  border-radius: 5px;
                  color: #666;
                }
                .title:hover {
                  color: #666;                        
                }
              }
            }
            .body_right {
              width: 60%;
              height: 100%;
            }
          }
        }
        .motto {
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          color: #999;
          .split {
            width: 5px;
            height: 5px;
            border-radius: 5px;
            background: #409eff;
            margin: 0 30px;
          }
        }
      }
      .footer {
        text-align: center;
        a {
          img {
            width: 40px;
            border-radius: 40px;
            transition: 0.4 all;
          }
          img:hover {
            transform: scale(1.1);
          }
        }
      }
    }
    .b_right {
      flex: 1;
      background: #E8E8E8;
      margin: 10px 0;
      border-radius: 5px;
      margin-left: 20px;
      overflow: auto;
      .articleInfo {
        height: 50px;
        margin: 10px 0;
        line-height: 50px;
        .write_info {
          padding-left: 30px;
          color: #969696;
          span {
            margin-right: 15px;
          }
        }
      }
    }
    .edit_Container {
      position: absolute;
      right: calc(10% - 50px);
      top: 10px;
      div {
        margin-bottom: 20px;
      }
    }
  }
}