.b_header_box {
  background: #dddddd;
  height: 64px;
  .b_header {
    height: 100%;
    // min-width: 1196px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .b_header_left {
      font-size: 24px;
      color: #444444;
      cursor: pointer;
      display: flex;
      align-items: center;
      // transition: all .2s;
      img {
        width: 50px;
      }
    }
    .b_header_left:hover {
      transform: scale(1.1);
      color: #666666;
    }
    .b_header_middle {
      .el-input-group {
        /* el-input__inner 是全局样式，在 scoped 属性下是不能生效的 */
        .el-input__inner {
          background: red;
        }
      }
    }
    .b_header_right {
      display: flex;
      .sign {
        line-height: 84px;
        color: #409eff;
        // background: #b3d8ff;
      }
      ul {
        display: flex;
        li {
          color: #666666;
          list-style: none;
          height: 50px;
          width: 70px;
          line-height: 50px;
          text-align: center;
          cursor: pointer;
          // transition: all .1s;
        }
        li:hover {
          transform: scale(1.1);
          // color: #409EFF;
        }
      }
      .active {
        border-bottom: 2px solid #409eff;
      }
    }
  }
}