.b_recommend {
  .title {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
    .split_line {
      height: 30px;
      line-height: 40px;
      width: 5px;
      border: 2px;
      background: #409EFF;
    }
    & > span:nth-child(2) {
      margin-left: 20px;
      color: #555;
      font-weight: bold;
    }
    span {
      display: inline-block;
    }
  }
  .body {
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
    .each_article {
      margin-bottom: 15px;
      .other_title {
        margin-bottom: 5px;
        cursor: pointer;
        a {
          color: #24292e;
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
          color: #555;
        }
      }
      .read {
        font-size: 14px;
        color: #969696;
        & > span:nth-child(1) {
          margin-right: 5px;
        }
      }
    }

  }
}