.b_sign {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #F5F5F5;
  .logo {
    position: absolute;
    top: 40px;
    left: 40px;
    height: 60px;
    cursor: pointer;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      img {
        width: 50px;
      }
      span {
        font-size: 28px;
        color: #444444;
      }
    }
  }
  .sign_body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
      height: 500px;
      width: 300px;
      background: #FFFFFF;
      border-radius: 4px;
      box-shadow: 0 0 8px rgba(0,0,0,.1);
      padding: 50px;
      .header_logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        span {
          font-size: 20px;
          color: #969696;
        }
        img {
          width: 40px;
        }
      }
      .title {
        ul {
          display: flex;
          align-items: center;
          justify-content: space-around;
          list-style: none;
          padding: 0 70px;
          li {
            // padding: 10px;
            a {
              padding: 10px;
              text-decoration: none;
              font-size: 18px;
              color: #969696;
            }
            a:hover {
              @extend .sign-active
            }
            .sign-active {
              font-weight: 700;
              color: #409eff;
              border-bottom: 2px solid #409eff;
            }
          }

          li:nth-child(2) {
            width: 4px;
            height: 4px;
            background: #969696;
          }
        }
        
      }
      .body {
        padding: 10px 0;
        button {
          width: 100%;
        }
        .loginInfo {
          text-align: center;
          color: #969696;
          // display: none;
          span {
            margin-right: 2px;
          }
        }
      }
      .footer {
        .motto {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .content {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            color: #999;
            .split {
              width: 3px;
              height: 3px;
              border-radius: 3px;
              background: #b5b5b5;
              margin: 0 10px;
            }
          }
          .line {
            width: 60px;
            border: 1px solid #b5b5b5;
          }
        }
        .footer_logo {
          img {
            width: 50px;
          }
        }
      }
    }
  }
}